/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */ 

body {
    background-color: #F6F8F9;
}

/* COMMON */

li {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* HEADER */

div.header {
    height: 80px;
    background-color: white;
    padding-left: 2em;
}

div.header img {
    vertical-align: middle;
}

div.header h2{
    display: inline-block;
    font-size: 3rem;
    line-height: 80px;
    vertical-align: middle;
}

/* MAIN */
 
div.main-container {
    width: 70%;
    height: 600px;
    border-radius: 15px ;
    margin: 60px auto;
 }

 div.main-container nav {
    height: 60px;
    border-radius: 15px 15px 0 0  ;
    background-color: white;
    padding-top: 24px;
    padding-left: 60px;
 }

/* NAV */

nav button {
    border-style: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: .5em;
    color: lightgray;
    background-color: white;
 }

button.blue-button {
    background-color : #47ADF1;
    color: white;
 }

/* SELECTION MENU */

div.selection-menu {
    background-color: white;
    margin-top: 3px;
    padding: 0px 0 60px 60px;
    border-radius: 0 0 16px 16px;
}

div.selection-menu ul {
    list-style-type: none;
}

li.title-menu {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 40px;
}

span.menu-arrow {
    font-size: 0.9rem;
    line-height: 1em;
    margin-right: 8px;
}

li.selection {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1em;
}

span.checkbox {
    border: 1px solid rgb(3, 156, 3);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    color: rgb(3, 156, 3);
    margin-right: 8px;
}

span.checkbox-label {
    text-align: center;
    margin-left: 10px;
    color: white;
    padding: 4px 8px;
    font-size: 0.7rem;
    font-weight: 200;
    border-radius: 8px;
    display: inline-block;
}

span.checkbox.disabled{
    color: red;
    border-color: red;
}

span.checkbox-label.blue{
    background-color: #47ADF1;
}
span.checkbox-label.violet{
    background-color: #9C72E4;
}
span.checkbox-label.green{
    background-color: #64C0A9;
}
span.checkbox-label.orange{
    background-color: #F29E33;
}
span.checkbox-label.fuxia{
    background-color: #D863A1;
}
span.checkbox-label.yellow{
    background-color: #B0C926;
}